* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* adding fonts */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-style: normal;
    font-weight: 400;
}

/* shared styles*/
body {
    background-color: rgb(245, 245, 245);
}

.btn-primary {
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    margin-top: 24px;
}

.display-flex {
    display: flex;
}

.bg-secondary {
    background-color: rgb(198, 228, 214);

}

.section-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}

.section-descrip {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
}

.text-center {
    text-align: center;
}
/* banner styles */
header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 100px;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    border-radius: 24px;

}

.banner-title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-descrip {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    margin-top: 16px;
    line-height: 67px;
}

.banner-content {
    width: 622px;
}

.banner-dp {
    max-width: 43%;
}

/* main styles */
main {
    max-width: 1280px;
    margin: 0 auto;
}

main>section {
    margin-top: 80px;
}

/* vision styles */
.vision-cards {
    justify-content: space-between;
    gap: 24px;
}

.vision-card {
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;

}

/* quote styles */
.quote-container {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 48px 24px;

}

.quote {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background-image: url('../assets/quote-bg.png');
    background-position: top left;
    background-repeat: no-repeat;

}

.quote-by {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 4px;
}

/* news styles */
.news {
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    margin-bottom: 24px;

    background: rgb(255, 255, 255);
}

.news-dp {
    border-radius: 24px;
}

.news-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

/* donation styles */
.money {
    gap: 24px;
    justify-content: space-evenly;
}

.money-cards {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;

}

.taka {
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

#two-hun {
    background-color: rgb(198, 228, 214);
}

input[type=text] {
    width: 90%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px 40px;
    border: none;
    margin: 32px 0px;
    text-align: center;
}